<ng-template #itemTemplate let-item="item" let-index="index">
  <div class="list-group-item">{{ item.value }}</div>
</ng-template>

<div class="row">
  <div class="col-xs-6 col-6 col-md-5 col-lg-3 m-3">
    <div class="list-group">
      <bs-sortable 
        [(ngModel)]="itemStringsLeft" 
        [itemTemplate]="itemTemplate" 
        itemClass="sortable-item"
        itemActiveClass="sortable-item-active" 
        placeholderItem="Drag here" 
        placeholderClass="placeholderStyle"
        wrapperClass="sortable-wrapper">
      </bs-sortable>
    </div>
    <pre class="code-preview mt-3">model: {{ itemStringsLeft | json }}</pre>
  </div>
</div>